@charset "utf-8";

$main-font: #333;
$sub-color: #ebb94d;


$border-color: #ebb94d;

$icon-color:#3e78ec;
$twitter-color:#2baeff;


$bk-color: #f7c23c;
$bk-bord-color: #016ea9;
$bk-bord-color_2: white;
$bk-bord-color_3:#d84338;
$bk-sub-sub-color: #f5efe2;
$bk-logo-color: #da6b64;

$meritto-color: #ffc94b;

$situmon-revores: #ececec;